@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&family=Playfair+Display:wght@900&display=swap');body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-rows: 1fr 3fr; */ 
    grid-template-areas: 
            "a a a" 
            "d c b";
    column-gap: 2rem;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
    font-family: 'Kaisei HarunoUmi', serif;

}

h1{
    font-family: 'Playfair Display';
    font-size: 3rem;
}
header{
    grid-area: a;
    display: flex;
    justify-content: center;
    
}
.container {
  display: grid;
  height: 30rem;
  width: 30rem;
  grid: repeat(10, 1fr) / repeat(10, 1fr);
  grid-area: c;
  box-shadow: 0 0 10px #000000;
  margin: auto;
}

.grid-item {
  background-color: rgb(241, 241, 241);
}

@media screen and (max-width: 800px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas: 
        "a" 
        "c"
        "b";
    }
    .controls{
        margin: auto;
        align-items: flex-start;
    }
}

.controls{
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
}
.rangeslider {
  width: 100%;
  padding: 0.5rem;
  display: flex;
 flex-direction: column;
 align-items: center;
}

.slider {
  -webkit-appearance: none;
  background: rgb(241, 241, 241);
  width: 100%;
  height: 20px;
  opacity: 2;
  border-radius: 10px;
  border: solid 1px rgb(126, 126, 126);
}

.hovered {
  background-color: red;
}

button{
    width: 80%;
    margin: 1rem;
    font-family: 'Kaisei HarunoUmi', serif;
    
}

#colorPicker {
    -webkit-appearance: none;
    width: 6rem;
    height: 3rem;
    border: none;
    padding: 0;
    /* border-radius: 50px; */
}