.container {
    border: solid 1px black;
    display: grid;
    height: 50vh;
    gap: 10px;
    grid: repeat(4, 1fr)/repeat(4, 1fr);
}
.grid-item{
    background-color: rgb(216, 216, 216);
}

/* .grid-item:hover{
    background-color: blueviolet;
} */

.hovered {
    background-color: red;
}